

body {
    background:url(img1.png)no-repeat center center / cover;
    display: block;
    color: white;
    font-weight: bold;
    width: 100vw;
    font-size: 20px;
    height: 100%;
    
}

.part{
    display: inline;
}




@media screen and (max-width:800px) {

    .excelTable {
        width: 90%;
    font-size: 12px;
}
.img h1{
    font-size: 35px;
    margin-bottom: 20px;
}
.con{
    margin-left: 50px;
    font-size: 20px;
}

#btnn{
    margin-left: 65%;
}

@keyframes border-top{
0%{width: 0px; height: 0px;}
25%{width: 98px; height: 0px;}
50%{width: 98px; height: 35px;}
100%{width: 98px; height: 35px;}

}

@keyframes border-bottom {
0%{width: 0px; height: 0px; opacity: 0;}
50%{width: 0px; height: 0px; opacity: 0;}
50.1%{width: 0px; height: 0px; opacity: 0;}
75%{width: 98px; height: 0px; opacity: 1;}
100%{width: 98px; height: 35px; opacity: 1;}
}

}
